@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

p{
    color: rgb(38, 1, 75)
}

body{
    background: linear-gradient(135deg, #ffc0cbf0, #ffc0cbc9);
    height: 100vh;

}

.container{
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #dd82dddc;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 2px grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.quiz-name{
    /* position: absolute;
    top: 7px;
    left: 10%; */
    background-color: #fd28efad;
    width: 80%;
    height: 3rem;
    text-align: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 20px 1px grey;
}

.quiz-name h1{
    color: rgb(84, 26, 143);
}

.main-section{
    width: 90%;
    height: 80%;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* background-color: #f96379; */
    /* padding: 0px 5rem; */
}

.questions{
    background-color: #FFB6C1;
    width: 90%;
    height: 95%;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    box-shadow: 3px 3px 10px 2px grey;
}

.question{
    border-radius: 3rem;
    background-color: #f98092;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px 1px grey;
}

.qno{
    border-radius: 100%;
    background-color: #ff5f76;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(81, 5, 158);
    box-shadow: 0px 0px 10px 2px grey;
}

.ques{
    width: 90%;
    height: 90%;
    /* background-color: rebeccapurple; */
    border-radius: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.ques p{
    color: rgb(38, 1, 75);
}

.options{
    border-radius: 3rem;
    width: 100%;
    background-color: #fca0ae;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
    /* align-items: left; */
    padding: 2rem;
    
}

.o1{
    display: flex;
    padding: 0.2rem;
    justify-content: left;
    display: flex;
    gap: 1rem;
    color: rgb(38, 1, 75);
    /* transition: transform 0.2s ease; */
}

.on{
    /* background-color: red; */
    border: 1px solid  rgb(51, 2, 100);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px 1px grey;
    cursor: pointer;
}
.option{
    /* background-color: red; */
    border: 1px solid  rgb(51, 2, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    padding: 0rem 1rem;
    box-shadow: 1px 1px 7px grey;
    cursor: pointer;
}

/* When an option is selected */
.o1.selected .on {
  transform: scale(1.1);
  background-color: #f98092;
  border: 2px solid rgb(51, 2, 100);
}

.o1.selected .option {
  transform: scale(1.05);
  border: 2px solid rgb(51, 2, 100);
  background-color: #fdb2c3;
}

/* Hover only works when not selected */
.o1:not(.selected):hover .on,
.o1:not(.selected):hover .option {
  transform: scale(1.06);
}

.prevnext{
    border-radius: 3rem;
    /* background-color: #f98092; */
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pns{
    width: 6rem;
    height: 2rem;
    font-size: large;
    font-weight: 300;
    background-color:  #fe697f;
    /* padding: 4px; */
    border-radius: 5rem;
    outline: none;
    border: 1px solid  rgb(51, 2, 100);
    cursor: pointer;
    color: rgb(38, 1, 75);
}

.pns:hover{
    border: 2px solid  rgb(51, 2, 100);
    transform: scale(1.07);
    background-color: #f87c8e;
    transition: transform 0.1s ease-in-out;
    box-shadow: 1px 1px 7px grey;
}

.tracking {
  background-color: #FFB6C1;
  height: 95%;
  width: 30%;
  border-radius: 3rem;
  box-shadow: 3px 3px 10px 2px grey;
  padding: 2rem 1rem;
  display: grid;
  gap: 1rem;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  place-items: center;
  align-items: start;
  overflow: hidden;
}


.tracking p{
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    background-color: #fca0ae;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(51, 2, 100);
    cursor: pointer;

}

.tracking p:hover{
    background-color: #f98092;
    transform: scale(1.08);
    transition: transform 0.2s ease;
    border: 2px solid rgb(51, 2, 100);
}

.tracking p.active {
    background-color: #f98092;
    transform: scale(1.08);
    transition: transform 0.2s ease;
    border: 2px solid rgb(51, 2, 100);
}

.progress-container {
  width: 85%;
  height: 10px;
  background-color: #fca0ae;
  border-radius: 3rem;
  overflow: hidden;
  border: 1px solid rgb(51, 2, 100);
  box-shadow: 0px 0px 20px 1px grey;
  margin: 10px auto;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #f8acd2, #FF69B4);
  border-radius: 3rem;
  transition: width 0.4s ease;
}

